* {
    margin: 0;
    text-decoration: none;
    font-family: 'Avenir', Arial;
}
a {
    color: black;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
}
textarea {
    resize: none;
    width: 100%;
}
.allHeader {
    background-color: rgb(0, 123, 255);
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.headerNav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
}
.headerTitle {
    height: 71px;
    line-height: 71px;
    color: white;
    font-size: 50px;
}
.headerLink {
    color: white;
    background-color: rgba(0,0,0,.2);
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 2px 1px;
}
.logShowContainer {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.logIndexContainer {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.logIndexHeader {
    margin: 10px;
    text-align: center;
    font-size: 26px;
}
.newLogLink {
    margin: 10px;
    background-color: rgb(0, 123, 255);
    text-align: center;
    width: 250px;
    border-radius: 5px;
}
.newLinkText {
    color: white;
}